flows.json
[{"id":"e591787a.954398","type":"tab","label":"OpenEVSE","disabled":false,"info":""},{"id":"e635df2e.1fabc","type":"ui_group","z":"","name":"OpenEVSE Config","tab":"4f90e75d.e74e78","order":2,"disp":true,"width":"6"},{"id":"73e2745.ef8238c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f90e75d.e74e78","type":"ui_tab","z":"","name":"Power","icon":"power","order":1},{"id":"4ed412d0.a6fe1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"EV 4 RV","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/DD/MM","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c24252c.286ee8","type":"ui_group","z":"","name":"Stats","tab":"4f90e75d.e74e78","order":3,"disp":true,"width":"6","collapse":false},{"id":"86584437.b518b8","type":"ui_group","z":"","name":"EV Setting","tab":"4f90e75d.e74e78","order":4,"disp":true,"width":"6","collapse":false},{"id":"d0ed64f7.ae5ea8","type":"ui_group","z":"","name":"Log","tab":"4f90e75d.e74e78","order":5,"disp":true,"width":"6","collapse":false},{"id":"59ceeae.07beb14","type":"ui_group","z":"","name":"Coach Power","tab":"4f90e75d.e74e78","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a506066.82b81","type":"ui_dropdown","z":"e591787a.954398","name":"Shore Breaker Rating","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":2,"width":"2","height":"1","passthru":false,"options":[{"label":"50","value":50,"type":"num"},{"label":"45","value":45,"type":"num"},{"label":"30","value":30,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"10","value":10,"type":"num"}],"payload":"","topic":"shoreamps","x":820,"y":240,"wires":[["3398d855.50cef8"]]},{"id":"d700cbc5.a9ab38","type":"ui_dropdown","z":"e591787a.954398","name":"Breaker Trip Margin","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":8,"width":"2","height":"1","passthru":false,"options":[{"label":"None","value":0,"type":"num"},{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"15","value":15,"type":"num"}],"payload":"","topic":"breakermargin","x":820,"y":320,"wires":[["3398d855.50cef8"]]},{"id":"2a15390f.617326","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":1,"width":"3","height":"1","name":"Shore Breaker","label":"Shore Breaker","format":"","layout":"row-right","x":180,"y":240,"wires":[]},{"id":"393c6b89.1a9314","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":7,"width":"3","height":"1","name":"Trip Margin","label":"Trip Margin","format":"","layout":"row-right","x":190,"y":320,"wires":[]},{"id":"5ac2f294.7c901c","type":"ui_dropdown","z":"e591787a.954398","name":"Shore Voltage","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":5,"width":"2","height":"1","passthru":false,"options":[{"label":"240","value":240,"type":"num"},{"label":"120","value":120,"type":"num"}],"payload":"","topic":"shorevolts","x":800,"y":280,"wires":[["3398d855.50cef8"]]},{"id":"5983c475.a1553c","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":4,"width":"3","height":"1","name":"Shore Voltage","label":"Shore Voltage","format":"","layout":"row-right","x":180,"y":280,"wires":[]},{"id":"52841ea4.37cfc","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.maxCurrent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":460,"wires":[["fc86c9ef.05a688"]]},{"id":"fc86c9ef.05a688","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":650,"y":460,"wires":[["fa08baa8.1a6cf8"]]},{"id":"fa08baa8.1a6cf8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":10,"width":"3","height":"1","name":"","label":"RV Max Current","format":"{{msg.payload | number: 1}} A","layout":"col-center","x":910,"y":460,"wires":[]},{"id":"5c34c4b6.19344c","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext('pwr.enabled')?\t    $join([$string($globalContext('pwr.EVSELimit')),\" A\"]):\t    \"Disabled\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":500,"wires":[["c090becd.9896f"]]},{"id":"c090becd.9896f","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":650,"y":500,"wires":[["96484216.42a3d"]]},{"id":"96484216.42a3d","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":11,"width":"3","height":"1","name":"","label":"EVSE Limit","format":"{{msg.payload}}","layout":"col-center","x":900,"y":500,"wires":[]},{"id":"7b4f9e5b.b343f","type":"function","z":"e591787a.954398","name":"Parse Power","func":"syslog=global.get('syslog','filestore') || [];\n\nfields=['shoreamps','shorevolts','breakermargin'];\n\nif (!(powerSettings=global.get('powerSettings','filestore'))) {\n    powerSettings={ 'shoreamps':50,'shorevolts':240, 'breakermargin':10 };\n    global.set('powerSettings',powerSettings,'filestore');\n}\n\noutmsg=[];\nfor (var i=0;key=fields[i];i++) {\n    var tmpmsg={\n        'topic':key,\n        'payload':powerSettings[key]\n        };\n    outmsg.push(tmpmsg);\n}\n\nsyslog.unshift({'tstamp':Date.now(), 'message':\"Initialized\"});\nglobal.set('syslog',syslog,'filestore');\n\nreturn outmsg;","outputs":"3","noerr":0,"x":570,"y":300,"wires":[["7a506066.82b81"],["5ac2f294.7c901c"],["d700cbc5.a9ab38"]]},{"id":"fd9d1221.37d4d","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":410,"y":300,"wires":[["7b4f9e5b.b343f"]]},{"id":"2de39757.34cd58","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":3,"width":"1","height":"1","name":"A","label":"","format":"A","layout":"row-right","x":1030,"y":240,"wires":[]},{"id":"2bdaaff8.1caab","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":9,"width":"1","height":"1","name":"A","label":"","format":"A","layout":"row-right","x":1030,"y":320,"wires":[]},{"id":"31d20970.c0a7d6","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":650,"y":540,"wires":[["abbb886f.847108"]]},{"id":"abbb886f.847108","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":14,"width":"3","height":"1","name":"","label":"EVSE Pilot","format":"{{msg.payload}}","layout":"col-center","x":900,"y":540,"wires":[]},{"id":"973a501b.0ffdb","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":650,"y":580,"wires":[["5650274.c423bd8","63a44a2d.655074"]]},{"id":"5650274.c423bd8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":12,"width":"3","height":"1","name":"","label":"EVSE Current","format":"{{msg.payload}}","layout":"col-center","x":910,"y":580,"wires":[]},{"id":"d27bb280.76d7d","type":"mqtt in","z":"e591787a.954398","name":"","topic":"openevse/pilot","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":180,"y":540,"wires":[["d3e0850a.f3d3a8"]]},{"id":"8711d2a0.9702","type":"mqtt in","z":"e591787a.954398","name":"","topic":"openevse/amp","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":180,"y":580,"wires":[["57d722df.77d44c"]]},{"id":"80adb163.f3555","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":660,"y":680,"wires":[["c73233c4.acd02","d0d6cc3c.d3ab4"]]},{"id":"c73233c4.acd02","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":13,"width":"3","height":"1","name":"","label":"EVSE Response","format":"{{msg.payload}}","layout":"col-center","x":920,"y":680,"wires":[]},{"id":"a238b1cb.abe87","type":"mqtt in","z":"e591787a.954398","name":"","topic":"openevse/rapi/out","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":190,"y":680,"wires":[["f3a6f9d.38dc208"]]},{"id":"a8d61f9c.10885","type":"mqtt in","z":"e591787a.954398","name":"","topic":"shorepower/#","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":410,"y":240,"wires":[["12f2d431.260b9c"]]},{"id":"12f2d431.260b9c","type":"function","z":"e591787a.954398","name":"","func":"var topic_parts=msg.topic.split(\"/\");\nvar payload_parts=msg.payload.split(\",\");\n\nif(topic_parts[1]=='shoreamps')\n    return [ { payload: payload_parts[0] }, null, null ];\nif(topic_parts[1]=='shorevolts')\n    return [ null, { payload: payload_parts[0] }, null ];\nif(topic_parts[1]=='breakermargin')\n    return [ null, null, { payload: payload_parts[0] } ];\n\npowerSettings=global.get('powerSettings','filestore');\npowerSettings[topic_parts[1]]=parseFloat(payload_parts[0]);\nglobal.set('powerSettings',powerSettings,'filestore');","outputs":"3","noerr":0,"x":590,"y":240,"wires":[["7a506066.82b81"],["5ac2f294.7c901c"],["d700cbc5.a9ab38"]]},{"id":"b283363.0e237c8","type":"mqtt out","z":"e591787a.954398","name":"Localhost","topic":"","qos":"","retain":"","broker":"73e2745.ef8238c","x":1180,"y":280,"wires":[]},{"id":"3398d855.50cef8","type":"function","z":"e591787a.954398","name":"","func":"powerSettings=global.get('powerSettings','filestore');\npowerSettings[msg.topic]=msg.payload;\nglobal.set('powerSettings',powerSettings,'filestore');\n\nmsg.topic='shorepower/'+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":280,"wires":[["b283363.0e237c8","2ff8576a.7d422"]]},{"id":"57d722df.77d44c","type":"change","z":"e591787a.954398","name":"millFormat","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([$formatNumber($parseInteger(payload,\"0\")/1000, \"0.0\"),\" A\"])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":580,"wires":[["973a501b.0ffdb","d2c56042.f4393"]]},{"id":"aeeb2197.c2ecf","type":"mqtt in","z":"e591787a.954398","name":"","topic":"powermon/#","qos":"0","datatype":"auto","broker":"73e2745.ef8238c","x":190,"y":100,"wires":[["749a6957.813c18"]]},{"id":"749a6957.813c18","type":"function","z":"e591787a.954398","name":"Eval Current Limit","func":"topic_parts=msg.topic.split(\"/\");\npwr=global.get('pwr') || { 'CT1':0, 'CT2':0, 'maxCurrent':0, 'kwadded':0, 'milesadded':0, 'lastupdate':0, 'enabled': 0 };\nsyslog=global.get('syslog','filestore') || [];\n\nmeasurementtimeout=30000; // 30 seconds, in milliseconds\n\n\npowerSettings=global.get('powerSettings','filestore');\n\nif(topic_parts[0]==\"powermon\") {\n    pwr[topic_parts[1]]=parseFloat(msg.payload);\n    pwr.lastupdate=Date.now();\n}\n\nmyepoch=Date.now();\nif(myepoch-pwr.lastupdate>30000 && pwr.enabled) {\n    pwr.enabled=0;\n    node.send([ null, { 'topic':'openevse/rapi/in/$FD', 'payload':\"\" } ]);\n    syslog.unshift({'tstamp':myepoch, 'message':\"Disabled EVSE: No coach power report > \"+(measurementtimeout/1000).toString()+\" seconds.\"});\n}\n\nif(myepoch-pwr.lastupdate<30000 && !pwr.enabled) {\n    pwr.enabled=1;\n    global.set('pwr',pwr);\n    node.send([ null, { 'topic':'openevse/rapi/in/$FE', 'payload':\"\" } ]);\n    syslog.unshift({'tstamp':myepoch, 'message':\"Enabled EVSE: Coach power reports returned.\"});\n}\n\nif(topic_parts[1]==\"CT1\" || topic_parts[1]==\"CT2\") {\n    if(powerSettings.shorevolts==240) {\n        if(pwr.CT1 >= pwr.CT2)\n            pwr.maxCurrent=pwr.CT1;\n        else\n            pwr.maxCurrent=pwr.CT2;\n    } else {\n        pwr.maxCurrent=pwr.CT1+pwr.CT2;\n    }\n}\n\npwr.EVSELimit=Math.floor(parseInt(powerSettings.shoreamps)-(pwr.maxCurrent+parseInt(powerSettings.breakermargin)));\nif(pwr.EVSELimit>40)\n    pwr.EVSELimit=40;\nelse if(pwr.EVSELimit<6)\n    pwr.EVSELimit=6;\n\nglobal.set('syslog',syslog,'filestore');    \nglobal.set('pwr',pwr);\nif('enabled' in pwr) {\n    if(pwr.enabled)\n        return( [ { 'payload': pwr.EVSELimit }, null ]);\n}\n","outputs":2,"noerr":0,"x":410,"y":100,"wires":[["b10d4eb2.c7c35"],["e3a3ab85.c37af"]]},{"id":"2c894062.9fa62","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"","x":100,"y":480,"wires":[["52841ea4.37cfc","5c34c4b6.19344c"]]},{"id":"ec46eabe.b9f818","type":"mqtt out","z":"e591787a.954398","name":"","topic":"openevse/rapi/in/$SC","qos":"0","retain":"false","broker":"73e2745.ef8238c","x":960,"y":80,"wires":[]},{"id":"9a004319.9621c","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":80,"wires":[["ec46eabe.b9f818"]]},{"id":"f3a6f9d.38dc208","type":"change","z":"e591787a.954398","name":"CleanUp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([$replace($replace(payload,\" \",\", \"),/(\\$|\\^.*$)/,''),\" A\"])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":680,"wires":[["80adb163.f3555"]]},{"id":"b10d4eb2.c7c35","type":"smooth","z":"e591787a.954398","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":620,"y":80,"wires":[["9a004319.9621c"]]},{"id":"622b7d90.630834","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":640,"wires":[["63a44a2d.655074"]]},{"id":"d0d6cc3c.d3ab4","type":"trigger","z":"e591787a.954398","op1":"","op2":"...","op1type":"nul","op2type":"str","duration":"15","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":660,"y":740,"wires":[["c73233c4.acd02"]]},{"id":"63a44a2d.655074","type":"trigger","z":"e591787a.954398","op1":"","op2":"...","op1type":"nul","op2type":"str","duration":"60","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":660,"y":640,"wires":[["5650274.c423bd8","abbb886f.847108"]]},{"id":"d3e0850a.f3d3a8","type":"change","z":"e591787a.954398","name":"millFormat","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([payload,\" A\"])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":540,"wires":[["31d20970.c0a7d6"]]},{"id":"dd4df520.ab03b8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":6,"width":"1","height":"1","name":"V","label":"","format":"V","layout":"row-right","x":1170,"y":240,"wires":[]},{"id":"7eff991d.df7328","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"EVSE Allowed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"pwr.EVSELimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1000,"wires":[["caaa8543.b4bb48"]]},{"id":"65d796cf.541038","type":"function","z":"e591787a.954398","name":"Cumulate Power","func":"powerSettings=global.get('powerSettings','filestore') || {\n    'shorevolts':240,\n    'shoreamps':50,\n    'breakermargin':10,\n    'whpm':300,\n};\n\npwr=global.get('pwr') || { 'CT1':0, 'CT2':0, 'maxCurrent':0, 'kwadded':0, 'milesadded':0 };\n\nif(msg.payload=='reset') {\n    pwr.kwadded=0;\n    pwr.milesadded=0;\n} else {\n    pwr['kwadded']=pwr['kwadded']+(((powerSettings['shorevolts']*pwr['EVSELimit'])/3600)/1000);\n    pwr['milesadded']=pwr['kwadded']/(powerSettings['whpm']/1000);\n}\n\nglobal.set('pwr',pwr);\n\nreturn [ { 'payload': Math.floor(pwr['kwadded']*1000)/1000 },\n    { 'payload': Math.floor(pwr['milesadded']*100)/100 },\n    { 'payload':  Math.floor((powerSettings['shorevolts']*pwr['EVSELimit'])/(powerSettings['whpm']/10))/10 }];","outputs":"3","noerr":0,"x":691.666576385498,"y":839.3333597183228,"wires":[["c3cfe8d1.fabc28"],["400ae49a.c4c3bc"],["5b90135a.48cf5c"]]},{"id":"cec76dac.10187","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":430,"y":900,"wires":[["65d796cf.541038","98da1e36.a5ccf","7eff991d.df7328"]]},{"id":"c3cfe8d1.fabc28","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":3,"width":"6","height":"1","name":"KW Added","label":"Added:","format":"{{msg.payload}} kW","layout":"row-spread","x":910,"y":800,"wires":[]},{"id":"400ae49a.c4c3bc","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":5,"width":"3","height":"1","name":"Miles Added","label":"","format":"{{msg.payload}} mi","layout":"row-right","x":910,"y":840,"wires":[]},{"id":"98da1e36.a5ccf","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Coach Max","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"pwr.maxCurrent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":960,"wires":[["caaa8543.b4bb48"]]},{"id":"6f98596f.2206b8","type":"ui_button","z":"e591787a.954398","name":"","group":"8c24252c.286ee8","order":4,"width":"3","height":"1","label":"Reset","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":450,"y":840,"wires":[["65d796cf.541038"]]},{"id":"5b90135a.48cf5c","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":2,"width":"6","height":"1","name":"Charge Rate (mph)","label":"Charge Rate","format":"{{msg.payload}} mph","layout":"row-spread","x":930,"y":880,"wires":[]},{"id":"caaa8543.b4bb48","type":"ui_chart","z":"e591787a.954398","name":"","group":"8c24252c.286ee8","order":1,"width":0,"height":0,"label":"Current History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"10","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":960,"wires":[[]]},{"id":"d2c56042.f4393","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"EVSE Used","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":920,"wires":[["caaa8543.b4bb48"]]},{"id":"22b564ca.29c93c","type":"ui_text_input","z":"e591787a.954398","name":"Wh/M Input","label":"","tooltip":"Average Wh/M of your EV","group":"86584437.b518b8","order":8,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"whpm","x":670,"y":1100,"wires":[["566a82c4.4ba33c"]]},{"id":"566a82c4.4ba33c","type":"change","z":"e591787a.954398","name":"Set Wh/mi","rules":[{"t":"set","p":"#:(filestore)::powerSettings.whpm","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1100,"wires":[["65d796cf.541038"]]},{"id":"7be697d1.578248","type":"change","z":"e591787a.954398","name":"Set Wh/mi","rules":[{"t":"set","p":"payload","pt":"msg","to":"#:(filestore)::powerSettings.whpm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1100,"wires":[["22b564ca.29c93c"]]},{"id":"6a47e35f.bf89ac","type":"ui_text","z":"e591787a.954398","group":"86584437.b518b8","order":7,"width":"2","height":"1","name":"Wh/mi Label","label":"Wh/mi","format":"","layout":"row-left","x":490,"y":1060,"wires":[]},{"id":"8ed2e05b.11d6b","type":"ui_template","z":"e591787a.954398","group":"86584437.b518b8","name":"EVSE Wh/mi Explanation","order":6,"width":"6","height":"5","format":"<div>Electric Vehicle Efficiency is measured in Watt-Hours per Mile ( Wh/mi ).  \nPlease enter your EV's Wh/mi average in the field below.  The more accurate for \nyour driving style, the more accurate the mph charge rate and miles added estimates will be.<br />\n<br />\nThis <a target='_blank' href='https://insideevs.com/news/348093/energy-consumption-epa-compared-may-2019/'>article from InsideEVs</a> is a good starting point if you're not sure about your EV's efficiency.</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":710,"y":1060,"wires":[[]]},{"id":"63988744.69ad78","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":210,"y":160,"wires":[["749a6957.813c18"]]},{"id":"e3a3ab85.c37af","type":"mqtt out","z":"e591787a.954398","name":"","topic":"","qos":"0","retain":"false","broker":"73e2745.ef8238c","x":610,"y":120,"wires":[]},{"id":"8db02f6b.b4354","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":1100,"wires":[["7be697d1.578248"]]},{"id":"2ff8576a.7d422","type":"link out","z":"e591787a.954398","name":"","links":["a10348fb.309508"],"x":1135,"y":340,"wires":[]},{"id":"a10348fb.309508","type":"link in","z":"e591787a.954398","name":"","links":["2ff8576a.7d422"],"x":235,"y":60,"wires":[["749a6957.813c18"]]},{"id":"1da0020b.f63ed6","type":"ui_template","z":"e591787a.954398","group":"d0ed64f7.ae5ea8","name":"Logs display","order":14,"width":"6","height":"6","format":"<style>\n    tr:nth-child(even) {background-color: #f2f2f2;}\n</style>\nCurrent time: {{msg.nowtime |  date:'yyyy-MM-dd HH:mm:ss'}}<br /><br />\n<table width='100%'>\n    <thead>\n    <tr>\n        <th style='text-align: left; width: 25%;'>Date/Time</th>\n        <th style='text-align: left;'>Message</th>\n\n    </tr>\n    </thead>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n    <td>{{value.tstamp |  date:'yyyy-MM-dd HH:mm:ss'}}</td>\n    <td>{{value.message}}</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":1220,"wires":[[]]},{"id":"1e74df92.c87de8","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":470,"y":1220,"wires":[["aec98c34.e67c5"]]},{"id":"aec98c34.e67c5","type":"function","z":"e591787a.954398","name":"Send Logs","func":"syslog=global.get('syslog','filestore');\n\nif(syslog.length>10) {\n    for(var i=10;i<=syslog.length;i++)\n        var junk=syslog.pop();\n}\nglobal.set('syslog',syslog,'filestore');\n\nreturn { 'nowtime':Date.now(),'payload':syslog };","outputs":1,"noerr":0,"x":630,"y":1220,"wires":[["1da0020b.f63ed6"]]},{"id":"b20323f2.db6ec","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":130,"y":1320,"wires":[["2a97a27e.e88726","c51de47f.2393d","35ef1c2c.948abc","cdcfc6ed.bc2d58","e9ac2b31.1aa53","74b334a6.e2c8e4","f4a9b78c.0360a"]]},{"id":"2a97a27e.e88726","type":"change","z":"e591787a.954398","name":"CT1","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.CT1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1400,"wires":[["b45e5051.e70878"]]},{"id":"b45e5051.e70878","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":3,"width":"3","height":"1","name":"","label":"Leg 1 Amps","format":"{{msg.payload | number:1}}","layout":"col-center","x":620,"y":1400,"wires":[]},{"id":"c51de47f.2393d","type":"change","z":"e591787a.954398","name":"CT2","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.CT2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1440,"wires":[["bb613e7d.0168d"]]},{"id":"bb613e7d.0168d","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":4,"width":"3","height":"1","name":"","label":"Leg 2 Amps","format":"{{msg.payload| number:1}}","layout":"col-center","x":620,"y":1440,"wires":[]},{"id":"35ef1c2c.948abc","type":"change","z":"e591787a.954398","name":"Watts","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.W","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1480,"wires":[["bc4a8bca.75e57"]]},{"id":"bc4a8bca.75e57","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":5,"width":"2","height":"1","name":"","label":"Power (W)","format":"{{msg.payload| number:1}}","layout":"col-center","x":620,"y":1480,"wires":[]},{"id":"cdcfc6ed.bc2d58","type":"change","z":"e591787a.954398","name":"Frequency (Hz)","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.freq","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1520,"wires":[["3369c2e6.c39a5e"]]},{"id":"3369c2e6.c39a5e","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":6,"width":"2","height":"1","name":"","label":"Freq (Hz)","format":"{{msg.payload| number:1}}","layout":"col-center","x":610,"y":1520,"wires":[]},{"id":"e9ac2b31.1aa53","type":"change","z":"e591787a.954398","name":"Pwr Factor","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.PF","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1560,"wires":[["31b9138f.131cd4"]]},{"id":"31b9138f.131cd4","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":7,"width":"2","height":"1","name":"","label":"Pwr Factor","format":"{{msg.payload| number:2}}","layout":"col-center","x":620,"y":1560,"wires":[]},{"id":"74b334a6.e2c8e4","type":"change","z":"e591787a.954398","name":"V1","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.V1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1360,"wires":[["9a7a4f55.c74a9"]]},{"id":"9a7a4f55.c74a9","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":2,"width":"0","height":"0","name":"","label":"Measured Voltage: ","format":"{{msg.payload | number: 1}}","layout":"row-center","x":640,"y":1360,"wires":[]},{"id":"f4a9b78c.0360a","type":"change","z":"e591787a.954398","name":"lastupdate","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext('pwr.lastupdate')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1320,"wires":[["229aa318.931ad4"]]},{"id":"229aa318.931ad4","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":1,"width":"0","height":"0","name":"","label":"Last Update Received","format":"{{msg.payload | date:'yyyy-MM-dd HH:mm:ss' }}","layout":"col-center","x":650,"y":1320,"wires":[]}]