node-red/flows.json
[{"id":"e591787a.954398","type":"tab","label":"EV4RV Main","disabled":false,"info":""},{"id":"f8fc7726.ba18f8","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"a9c97461.465008","type":"tab","label":"Logs","disabled":false,"info":""},{"id":"e635df2e.1fabc","type":"ui_group","z":"","name":"OpenEVSE Config","tab":"4f90e75d.e74e78","order":2,"disp":true,"width":"6"},{"id":"73e2745.ef8238c","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f90e75d.e74e78","type":"ui_tab","z":"","name":"Power","icon":"power","order":1},{"id":"4ed412d0.a6fe1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"EV 4 RV","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/DD/MM","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c24252c.286ee8","type":"ui_group","z":"","name":"Stats","tab":"4f90e75d.e74e78","order":3,"disp":true,"width":"6","collapse":false},{"id":"86584437.b518b8","type":"ui_group","z":"","name":"EV Setting","tab":"58c1c2ad.f4207c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d0ed64f7.ae5ea8","type":"ui_group","z":"","name":"Log","tab":"5ee48d36.69e92c","order":3,"disp":true,"width":"12","collapse":false},{"id":"59ceeae.07beb14","type":"ui_group","z":"","name":"Coach Power","tab":"4f90e75d.e74e78","order":1,"disp":true,"width":"6","collapse":false},{"id":"688bac63.315194","type":"emoncms-server","z":"","server":"http://localhost/emoncms","name":"My EmonCMS Server"},{"id":"85753ee1.b29bc","type":"ui_group","z":"","name":"Update","tab":"21ac6fe6.769358","order":1,"disp":true,"width":"6","collapse":false},{"id":"21ac6fe6.769358","type":"ui_tab","z":"","name":"System","icon":"settings","order":4,"disabled":false,"hidden":false},{"id":"5ee48d36.69e92c","type":"ui_tab","z":"","name":"Logs","icon":"list","order":5,"disabled":false,"hidden":false},{"id":"39443754.6f3b58","type":"ui_tab","z":"","name":"Graphs","icon":"show_chart","order":3,"disabled":false,"hidden":false},{"id":"bea53ef3.57b058","type":"ui_group","z":"","name":"Graphs","tab":"39443754.6f3b58","order":1,"disp":true,"width":"12","collapse":false},{"id":"1042e94a.4a32df","type":"ui_group","z":"","name":"Reboot/Shutdown","tab":"21ac6fe6.769358","order":3,"disp":true,"width":"6","collapse":false},{"id":"1648d09a.21e85f","type":"ui_group","z":"","name":"Network Settings","tab":"21ac6fe6.769358","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a850af2.fd25c","type":"ui_group","z":"","name":"Help","tab":"58c1c2ad.f4207c","order":3,"disp":true,"width":"6","collapse":false},{"id":"9873c2ac.cd75a","type":"ui_group","z":"","name":"Data Timeout","tab":"58c1c2ad.f4207c","order":2,"disp":true,"width":"6","collapse":false},{"id":"58c1c2ad.f4207c","type":"ui_tab","z":"","name":"EV Settings","icon":"directions_car","order":2,"disabled":false,"hidden":false},{"id":"7a506066.82b81","type":"ui_dropdown","z":"e591787a.954398","name":"Shore Breaker Rating","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":2,"width":"2","height":"1","passthru":false,"options":[{"label":"50","value":50,"type":"num"},{"label":"45","value":45,"type":"num"},{"label":"30","value":30,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"10","value":10,"type":"num"}],"payload":"","topic":"shoreamps","x":820,"y":300,"wires":[["3398d855.50cef8"]]},{"id":"d700cbc5.a9ab38","type":"ui_dropdown","z":"e591787a.954398","name":"Breaker Trip Margin","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":8,"width":"2","height":"1","passthru":false,"options":[{"label":"None","value":0,"type":"num"},{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"15","value":15,"type":"num"}],"payload":"","topic":"breakermargin","x":810,"y":380,"wires":[["3398d855.50cef8"]]},{"id":"2a15390f.617326","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":1,"width":"3","height":"1","name":"Shore Breaker","label":"Shore Breaker","format":"","layout":"row-right","x":180,"y":300,"wires":[]},{"id":"393c6b89.1a9314","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":7,"width":"3","height":"1","name":"Trip Margin","label":"Trip Margin","format":"","layout":"row-right","x":190,"y":380,"wires":[]},{"id":"5ac2f294.7c901c","type":"ui_dropdown","z":"e591787a.954398","name":"Shore Voltage","label":"","tooltip":"","place":"","group":"e635df2e.1fabc","order":5,"width":"2","height":"1","passthru":false,"options":[{"label":"240","value":240,"type":"num"},{"label":"120","value":120,"type":"num"}],"payload":"","topic":"shorevolts","x":800,"y":340,"wires":[["3398d855.50cef8"]]},{"id":"5983c475.a1553c","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":4,"width":"3","height":"1","name":"Shore Voltage","label":"Shore Voltage","format":"","layout":"row-right","x":180,"y":340,"wires":[]},{"id":"52841ea4.37cfc","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.maxCurrent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["fc86c9ef.05a688"]]},{"id":"fc86c9ef.05a688","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":480,"wires":[["fa08baa8.1a6cf8"]]},{"id":"fa08baa8.1a6cf8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":10,"width":"3","height":"1","name":"","label":"RV Max Current","format":"{{msg.payload | number: 1}} A","layout":"col-center","x":1010,"y":480,"wires":[]},{"id":"5c34c4b6.19344c","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext('pwr.enabled')?\t    $join([$string($globalContext('pwr.EVSELimit')),\" A\"]):\t    \"Disabled\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["c090becd.9896f"]]},{"id":"c090becd.9896f","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":520,"wires":[["96484216.42a3d"]]},{"id":"96484216.42a3d","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":11,"width":"3","height":"1","name":"","label":"EVSE Limit","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":520,"wires":[]},{"id":"7b4f9e5b.b343f","type":"function","z":"e591787a.954398","name":"Parse Power","func":"syslog=global.get('syslog','filestore') || [];\n\nfields=['shoreamps','shorevolts','breakermargin'];\n\nif (!(powerSettings=global.get('powerSettings','filestore'))) {\n    powerSettings={ 'shoreamps':50,'shorevolts':240, 'breakermargin':10, 'emoncmsEnabled': false };\n    global.set('powerSettings',powerSettings,'filestore');\n}\n\noutmsg=[];\nfor (var i=0;key=fields[i];i++) {\n    var tmpmsg={\n        'topic':key,\n        'payload':powerSettings[key]\n        };\n    outmsg.push(tmpmsg);\n}\n\nsyslog.unshift({'tstamp':Date.now(), 'message':\"Initialized\"});\nglobal.set('syslog',syslog,'filestore');\n\nreturn outmsg;","outputs":"3","noerr":0,"x":570,"y":360,"wires":[["7a506066.82b81"],["5ac2f294.7c901c"],["d700cbc5.a9ab38"]]},{"id":"fd9d1221.37d4d","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":410,"y":360,"wires":[["7b4f9e5b.b343f"]]},{"id":"2de39757.34cd58","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":3,"width":"1","height":"1","name":"A","label":"","format":"A","layout":"row-right","x":1030,"y":300,"wires":[]},{"id":"2bdaaff8.1caab","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":9,"width":"1","height":"1","name":"A","label":"","format":"A","layout":"row-right","x":1030,"y":380,"wires":[]},{"id":"31d20970.c0a7d6","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":560,"wires":[["abbb886f.847108"]]},{"id":"abbb886f.847108","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":14,"width":"3","height":"1","name":"","label":"EVSE Pilot","format":"{{msg.payload}}","layout":"col-center","x":1000,"y":560,"wires":[]},{"id":"973a501b.0ffdb","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":600,"wires":[["5650274.c423bd8"]]},{"id":"5650274.c423bd8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":12,"width":"3","height":"1","name":"","label":"EVSE Current","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":600,"wires":[]},{"id":"80adb163.f3555","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":700,"wires":[["c73233c4.acd02"]]},{"id":"c73233c4.acd02","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":13,"width":"3","height":"1","name":"","label":"EVSE Response","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":700,"wires":[]},{"id":"a238b1cb.abe87","type":"mqtt in","z":"e591787a.954398","name":"","topic":"openevse/rapi/out","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":290,"y":700,"wires":[["f3a6f9d.38dc208"]]},{"id":"a8d61f9c.10885","type":"mqtt in","z":"e591787a.954398","name":"","topic":"shorepower/#","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":410,"y":300,"wires":[["12f2d431.260b9c"]]},{"id":"12f2d431.260b9c","type":"function","z":"e591787a.954398","name":"","func":"var topic_parts=msg.topic.split(\"/\");\nvar payload_parts=msg.payload.split(\",\");\n\nif(topic_parts[1]=='shoreamps')\n    node.send([ { payload: payload_parts[0] }, null, null ]);\nif(topic_parts[1]=='shorevolts')\n    node.send([ null, { payload: payload_parts[0] }, null ]);\nif(topic_parts[1]=='breakermargin')\n    node.send([ null, null, { payload: payload_parts[0] } ]);\n\npowerSettings=global.get('powerSettings','filestore');\npowerSettings[topic_parts[1]]=parseFloat(payload_parts[0]);\nglobal.set('powerSettings',powerSettings,'filestore');","outputs":"3","noerr":0,"x":590,"y":300,"wires":[["7a506066.82b81"],["5ac2f294.7c901c"],["d700cbc5.a9ab38"]]},{"id":"b283363.0e237c8","type":"mqtt out","z":"e591787a.954398","name":"Localhost","topic":"","qos":"","retain":"","broker":"73e2745.ef8238c","x":1240,"y":340,"wires":[]},{"id":"3398d855.50cef8","type":"function","z":"e591787a.954398","name":"Update Settings","func":"powerSettings=global.get('powerSettings','filestore');\npowerSettings[msg.topic]=parseInt(msg.payload);\nglobal.set('powerSettings',powerSettings,'filestore');\n\nmsg.topic='shorepower/'+msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":340,"wires":[["b283363.0e237c8","2ff8576a.7d422"]]},{"id":"57d722df.77d44c","type":"change","z":"e591787a.954398","name":"Format EVSE Current","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([$formatNumber($globalContext('evseData.amp'), \"0.0\"),\" A\"])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":600,"wires":[["973a501b.0ffdb"]]},{"id":"aeeb2197.c2ecf","type":"mqtt in","z":"e591787a.954398","name":"","topic":"powermon/#","qos":"0","datatype":"auto","broker":"73e2745.ef8238c","x":190,"y":120,"wires":[["749a6957.813c18"]]},{"id":"749a6957.813c18","type":"function","z":"e591787a.954398","name":"Eval Current Limit","func":"topic_parts=msg.topic.split(\"/\");\npwr=global.get('pwr') || { 'CT1':0, 'CT2':0, 'maxCurrent':0, 'kwadded':0, 'milesadded':0, 'lastupdate':0, 'enabled': 0 };\nsyslog=global.get('syslog','filestore') || [];\n\npowerSettings=global.get('powerSettings','filestore');\nif(!('dataTimeout' in powerSettings) || powerSettings.dataTimeout===null)\n    powerSettings.dataTimeout=30;\n\nif(topic_parts[0]==\"powermon\") {\n    pwr[topic_parts[1]]=Math.abs(parseFloat(msg.payload));\n    pwr.W=pwr.V1*(pwr.CT1+pwr.CT2);\n    pwr.lastupdate=Date.now();\n}\n\nif(topic_parts[0]=='shellies' && topic_parts[2]=='emeter') {\n    pwr[topic_parts[4]+topic_parts[3]]=Math.abs(parseFloat(msg.payload));\n    ctnum=parseFloat(topic_parts[3])+1;\n    pwr['CT'+ctnum]=parseFloat(pwr['power'+topic_parts[3]]/pwr['voltage'+topic_parts[3]]);\n    pwr.lastupdate=Date.now();\n    pwr.W=parseFloat(pwr.power0+pwr.power1);\n    pwr.V1=pwr.voltage0;\n}\n\nmyepoch=Date.now();\nif(myepoch-pwr.lastupdate>(powerSettings.dataTimeout*1000) && pwr.enabled) {\n    pwr.enabled=0;\n    node.send([ null, { 'topic':'openevse/rapi/in/$FD', 'payload':\"\" } ]);\n    syslog.unshift({'tstamp':myepoch, 'message':\"Disabled EVSE: No coach power report > \"+(powerSettings.dataTimeout).toString()+\" seconds.\"});\n}\n\nif(myepoch-pwr.lastupdate<(powerSettings.dataTimeout*1000) && !pwr.enabled) {\n    pwr.enabled=1;\n    global.set('pwr',pwr);\n    node.send([ null, { 'topic':'openevse/rapi/in/$FE', 'payload':\"\" } ]);\n    syslog.unshift({'tstamp':myepoch, 'message':\"Enabled EVSE: Coach power reports returned.\"});\n}\n\nif(topic_parts[1]==\"CT1\" || topic_parts[1]==\"CT2\") {\n    if(powerSettings.shorevolts==240) {\n        if(pwr.CT1 >= pwr.CT2)\n            pwr.maxCurrent=pwr.CT1;\n        else\n            pwr.maxCurrent=pwr.CT2;\n    } else {\n        pwr.maxCurrent=pwr.CT1+pwr.CT2;\n    }\n}\n\npwr.EVSELimit=Math.floor(parseInt(powerSettings.shoreamps)-(pwr.maxCurrent+parseInt(powerSettings.breakermargin)));\nif(pwr.EVSELimit>40)\n    pwr.EVSELimit=40;\nelse if(pwr.EVSELimit<6)\n    pwr.EVSELimit=6;\n\nglobal.set('syslog',syslog,'filestore');    \nglobal.set('pwr',pwr);\nif('enabled' in pwr) {\n    if(pwr.enabled)\n        return( [ { 'payload': pwr.EVSELimit }, null ]);\n}\n","outputs":2,"noerr":0,"x":410,"y":100,"wires":[["b10d4eb2.c7c35"],["e3a3ab85.c37af"]]},{"id":"2c894062.9fa62","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"","x":190,"y":540,"wires":[["52841ea4.37cfc","5c34c4b6.19344c","d3e0850a.f3d3a8","57d722df.77d44c"]]},{"id":"ec46eabe.b9f818","type":"mqtt out","z":"e591787a.954398","name":"","topic":"openevse/rapi/in/$SC","qos":"0","retain":"false","broker":"73e2745.ef8238c","x":960,"y":80,"wires":[]},{"id":"9a004319.9621c","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":770,"y":80,"wires":[["ec46eabe.b9f818"]]},{"id":"f3a6f9d.38dc208","type":"change","z":"e591787a.954398","name":"CleanUp","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([$replace($replace(payload,\" \",\", \"),/(\\$|\\^.*$)/,''),\" A\"])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["80adb163.f3555"]]},{"id":"b10d4eb2.c7c35","type":"smooth","z":"e591787a.954398","name":"","property":"payload","action":"mean","count":"10","round":"0","mult":"single","reduce":false,"x":620,"y":80,"wires":[["9a004319.9621c"]]},{"id":"622b7d90.630834","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"...","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":390,"y":660,"wires":[["63a44a2d.655074","c73233c4.acd02","61281ac0.461474"]]},{"id":"63a44a2d.655074","type":"trigger","z":"e591787a.954398","op1":"","op2":"...","op1type":"nul","op2type":"str","duration":"60","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":750,"y":640,"wires":[["5650274.c423bd8","abbb886f.847108"]]},{"id":"d3e0850a.f3d3a8","type":"change","z":"e591787a.954398","name":"Format Pilot","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join([$string($globalContext('evseData.pilot')),\" A\"])\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":560,"wires":[["31d20970.c0a7d6"]]},{"id":"dd4df520.ab03b8","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":6,"width":"1","height":"1","name":"V","label":"","format":"V","layout":"row-right","x":1170,"y":300,"wires":[]},{"id":"7eff991d.df7328","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"EVSE Allowed","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"pwr.EVSELimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1020,"wires":[["caaa8543.b4bb48"]]},{"id":"65d796cf.541038","type":"function","z":"e591787a.954398","name":"Cumulate Power","func":"powerSettings=global.get('powerSettings','filestore') || {\n    'shorevolts':240,\n    'shoreamps':50,\n    'breakermargin':10,\n    'whpm':300,\n    'emoncmsEnabled':false\n};\n\npwr=global.get('pwr') || { 'CT1':0, 'CT2':0, 'maxCurrent':0, 'kwadded':0, 'milesadded':0 };\nevseData=global.get('evseData');\n\nif(msg.payload=='reset') {\n    pwr.kwadded=0;\n    pwr.milesadded=0;\n} else {\n    if( 'state' in evseData ) {\n        if(evseData.state<4 && evseData.state!=1) {\n            pwr.kwadded=pwr.kwadded+(((pwr.V1*evseData.amp)/3600)/1000);\n            pwr.milesadded=pwr.kwadded/(powerSettings['whpm']/1000);\n        }\n    }\n}\n\nglobal.set('pwr',pwr);\n\nreturn [ { 'payload': Math.floor(pwr['kwadded']*1000)/1000 },\n    { 'payload': Math.floor(pwr['milesadded']*100)/100 },\n    { 'payload': Math.floor((pwr.V1*evseData.amp)/(powerSettings['whpm']/10))/10 } ];","outputs":"3","noerr":0,"x":780,"y":860,"wires":[["c3cfe8d1.fabc28"],["400ae49a.c4c3bc"],["5b90135a.48cf5c"]]},{"id":"cec76dac.10187","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":530,"y":940,"wires":[["65d796cf.541038","98da1e36.a5ccf","7eff991d.df7328","d2c56042.f4393"]]},{"id":"c3cfe8d1.fabc28","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":2,"width":"6","height":"1","name":"KW Added","label":"Added:","format":"{{msg.payload}} kW","layout":"row-spread","x":1010,"y":820,"wires":[]},{"id":"400ae49a.c4c3bc","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":4,"width":"3","height":"1","name":"Miles Added","label":"","format":"{{msg.payload}} mi","layout":"row-right","x":1010,"y":860,"wires":[]},{"id":"98da1e36.a5ccf","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Coach Max","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"pwr.maxCurrent","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":980,"wires":[["caaa8543.b4bb48"]]},{"id":"6f98596f.2206b8","type":"ui_button","z":"e591787a.954398","name":"","group":"8c24252c.286ee8","order":3,"width":"3","height":"1","label":"Reset","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":550,"y":860,"wires":[["65d796cf.541038"]]},{"id":"5b90135a.48cf5c","type":"ui_text","z":"e591787a.954398","group":"8c24252c.286ee8","order":1,"width":"6","height":"1","name":"Charge Rate (mph)","label":"Charge Rate","format":"{{msg.payload}} mph","layout":"row-spread","x":1030,"y":900,"wires":[]},{"id":"caaa8543.b4bb48","type":"ui_chart","z":"e591787a.954398","name":"","group":"bea53ef3.57b058","order":1,"width":0,"height":0,"label":"Current History","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"30","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1020,"y":980,"wires":[[]]},{"id":"d2c56042.f4393","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"EVSE Used","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber($globalContext('evseData.amp'), \"0.0\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":940,"wires":[["caaa8543.b4bb48"]]},{"id":"63988744.69ad78","type":"inject","z":"e591787a.954398","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":210,"y":160,"wires":[["749a6957.813c18"]]},{"id":"e3a3ab85.c37af","type":"mqtt out","z":"e591787a.954398","name":"","topic":"","qos":"0","retain":"false","broker":"73e2745.ef8238c","x":610,"y":120,"wires":[]},{"id":"2ff8576a.7d422","type":"link out","z":"e591787a.954398","name":"","links":["a10348fb.309508"],"x":1195,"y":400,"wires":[]},{"id":"a10348fb.309508","type":"link in","z":"e591787a.954398","name":"","links":["2ff8576a.7d422"],"x":235,"y":20,"wires":[["749a6957.813c18"]]},{"id":"b20323f2.db6ec","type":"inject","z":"e591787a.954398","name":"","topic":"select shoreamps,shorevolts,breakermargin from powerSettings;","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":150,"y":1100,"wires":[["2a97a27e.e88726","c51de47f.2393d","35ef1c2c.948abc","74b334a6.e2c8e4","f4a9b78c.0360a"]]},{"id":"2a97a27e.e88726","type":"change","z":"e591787a.954398","name":"CT1","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.CT1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1180,"wires":[["b45e5051.e70878"]]},{"id":"b45e5051.e70878","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":3,"width":"0","height":"0","name":"","label":"Coach Leg 1 Current","format":"{{msg.payload | number:1}} Amps","layout":"row-spread","x":670,"y":1180,"wires":[]},{"id":"c51de47f.2393d","type":"change","z":"e591787a.954398","name":"CT2","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.CT2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1220,"wires":[["bb613e7d.0168d"]]},{"id":"bb613e7d.0168d","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":4,"width":"0","height":"0","name":"","label":"Coach Leg 2 Current","format":"{{msg.payload| number:1}} Amps","layout":"row-spread","x":670,"y":1220,"wires":[]},{"id":"35ef1c2c.948abc","type":"change","z":"e591787a.954398","name":"Watts","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.W","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1260,"wires":[["bc4a8bca.75e57"]]},{"id":"bc4a8bca.75e57","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":5,"width":"0","height":"0","name":"","label":"Coach Total Power","format":"{{msg.payload| number:1}} Watts","layout":"row-spread","x":660,"y":1260,"wires":[]},{"id":"74b334a6.e2c8e4","type":"change","z":"e591787a.954398","name":"V1","rules":[{"t":"set","p":"payload","pt":"msg","to":"pwr.V1","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1140,"wires":[["9a7a4f55.c74a9"]]},{"id":"9a7a4f55.c74a9","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":2,"width":"0","height":"0","name":"","label":"Measured Voltage: ","format":"{{msg.payload | number: 1}}","layout":"row-center","x":660,"y":1140,"wires":[]},{"id":"f4a9b78c.0360a","type":"change","z":"e591787a.954398","name":"lastupdate","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext('pwr.lastupdate')\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1100,"wires":[["229aa318.931ad4"]]},{"id":"229aa318.931ad4","type":"ui_text","z":"e591787a.954398","group":"59ceeae.07beb14","order":1,"width":"0","height":"0","name":"","label":"Last Update Received","format":"{{msg.payload | date:'yyyy-MM-dd HH:mm:ss' }}","layout":"col-center","x":670,"y":1100,"wires":[]},{"id":"1c03f3cd.d7a474","type":"emoncms","z":"e591787a.954398","name":"Emoncms Push","emonServer":"688bac63.315194","nodegroup":"","datatype":"legacy","x":880,"y":220,"wires":[]},{"id":"29ef2fac.1deea","type":"inject","z":"e591787a.954398","name":"Enabled?","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":"","x":190,"y":220,"wires":[["76e6367b.e46348"]]},{"id":"f1646ff3.2f305","type":"function","z":"e591787a.954398","name":"EmonCMS Send","func":"newmsg={};\n\n// If EmonCMS is not enabled, just exit here.\nif(!msg.payload)\n    return null;\n\nvar pwr=global.get('pwr');\nvar powerSettings=global.get('powerSettings','filestore');\n\nmyepoch=Date.now();\n\n// If we're receiving power readings, forward them on.\nif(myepoch-pwr.lastupdate<30000) {\n    delete pwr['undefined'];\n    if(!('EVSECurrent' in pwr))\n        pwr.EVSECurrent=0;\n    node.send({'nodegroup':'PowerSettings', payload: powerSettings});\n    node.send({'nodegroup':'PowerReadings', payload: pwr});\n}","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"5e043166.97fad","type":"ui_template","z":"a9c97461.465008","group":"d0ed64f7.ae5ea8","name":"Logs display","order":14,"width":"12","height":"7","format":"<style>\n    tr:nth-child(even) {background-color: #f2f2f2;}\n</style>\nCurrent time: {{msg.nowtime |  date:'yyyy-MM-dd HH:mm:ss'}}<br /><br />\n<table width='100%'>\n    <thead>\n    <tr>\n        <th style='text-align: left; width: 25%;'>Date/Time</th>\n        <th style='text-align: left;'>Message</th>\n\n    </tr>\n    </thead>\n<tr ng-repeat=\"(key, value) in msg.payload\">\n    <td>{{value.tstamp |  date:'yyyy-MM-dd HH:mm:ss'}}</td>\n    <td>{{value.message}}</td>\n</tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":570,"y":160,"wires":[[]]},{"id":"f3e4c713.70f5a8","type":"inject","z":"a9c97461.465008","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"","x":230,"y":160,"wires":[["d7e97ad0.f4359"]]},{"id":"d7e97ad0.f4359","type":"function","z":"a9c97461.465008","name":"Send Logs","func":"syslog=global.get('syslog','filestore');\n\nif(syslog.length>10) {\n    for(var i=10;i<=syslog.length;i++)\n        var junk=syslog.pop();\n}\nglobal.set('syslog',syslog,'filestore');\n\nreturn { 'nowtime':Date.now(),'payload':syslog };","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["5e043166.97fad"]]},{"id":"8bf6e898.27394","type":"link in","z":"e591787a.954398","name":"Trigger Cumulate Power","links":["45aa429f.f793c4","4bb5f195.aaf94","e432eb1.ad87518"],"x":575,"y":820,"wires":[["65d796cf.541038"]]},{"id":"8273d137.293268","type":"ui_text_input","z":"f8fc7726.ba18f8","name":"Wh/M Input","label":"","tooltip":"Average Wh/M of your EV","group":"86584437.b518b8","order":8,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"whpm","x":610,"y":160,"wires":[["6bd63ae9.d9bf04"]]},{"id":"6bd63ae9.d9bf04","type":"change","z":"f8fc7726.ba18f8","name":"Set Wh/mi","rules":[{"t":"set","p":"#:(filestore)::powerSettings.whpm","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":160,"wires":[["4bb5f195.aaf94"]]},{"id":"860a2d3c.cf09d8","type":"change","z":"f8fc7726.ba18f8","name":"Set Wh/mi","rules":[{"t":"set","p":"payload","pt":"msg","to":"#:(filestore)::powerSettings.whpm","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":160,"wires":[["8273d137.293268"]]},{"id":"ad5a4fe1.35b2a","type":"ui_text","z":"f8fc7726.ba18f8","group":"86584437.b518b8","order":7,"width":"2","height":"1","name":"Wh/mi Label","label":"Wh/mi","format":"","layout":"row-left","x":410,"y":120,"wires":[]},{"id":"c320dd52.bfd0b","type":"ui_template","z":"f8fc7726.ba18f8","group":"86584437.b518b8","name":"EVSE Wh/mi Explanation","order":6,"width":"6","height":"5","format":"<div>Electric Vehicle Efficiency is measured in Watt-Hours per Mile ( Wh/mi ).  \nPlease enter your EV's Wh/mi average in the field below.  The more accurate for \nyour driving style, the more accurate the mph charge rate and miles added estimates will be.<br />\n<br />\nThis <a target='_blank' href='https://insideevs.com/news/348093/energy-consumption-epa-compared-may-2019/'>article from InsideEVs</a> is a good starting point if you're not sure about your EV's efficiency.</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":650,"y":120,"wires":[[]]},{"id":"a56eab8e.bddef8","type":"inject","z":"f8fc7726.ba18f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":160,"wires":[["860a2d3c.cf09d8","973171dc.dbbf58","f5589d71.4fc468"]]},{"id":"4bb5f195.aaf94","type":"link out","z":"f8fc7726.ba18f8","name":"Settings","links":["8bf6e898.27394"],"x":935,"y":160,"wires":[]},{"id":"76e6367b.e46348","type":"change","z":"e591787a.954398","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"#:(filestore)::powerSettings.emoncmsEnabled","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["f1646ff3.2f305"]]},{"id":"5533a03e.e58a7","type":"comment","z":"e591787a.954398","name":"Instructions to enable EmonCMS","info":"To Enable EmonCMS, update your credentials in the 'EmonCMS' node, then link the 'EmonCMS Send' node output to the input of the 'EmonCMS' node.","x":790,"y":180,"wires":[]},{"id":"48f4fa11.3a1c44","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"85753ee1.b29bc","order":3,"width":0,"height":0,"passthru":false,"label":"Check for EV4RV Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Checking for upgrade.. please wait.","payloadType":"str","topic":"","x":130,"y":300,"wires":[["2fa77452.9c6f64","973171dc.dbbf58","724ec5b8.9dc114"]]},{"id":"2fa77452.9c6f64","type":"exec","z":"f8fc7726.ba18f8","command":"~pi/ev4rv/ev4rv_update_check.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Update Check","x":160,"y":360,"wires":[["8205503c.a26b","7b4358c5.1a66f8","9516cfcc.299008"],[],[]]},{"id":"973171dc.dbbf58","type":"ui_text","z":"f8fc7726.ba18f8","group":"85753ee1.b29bc","order":2,"width":0,"height":0,"name":"Status output","label":"","format":"{{msg.payload}}","layout":"row-center","x":990,"y":341,"wires":[]},{"id":"8205503c.a26b","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$lookup({\"1\":'An update is available!',\"0\":'Your EV4RV install is fully up to date.'},payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["973171dc.dbbf58"]]},{"id":"7b4358c5.1a66f8","type":"trigger","z":"f8fc7726.ba18f8","op1":"","op2":" ","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":390,"y":460,"wires":[["973171dc.dbbf58","89255fdd.20e92"]]},{"id":"724ec5b8.9dc114","type":"trigger","z":"f8fc7726.ba18f8","op1":"","op2":"Sorry, an error must have occurred.","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":770,"y":300,"wires":[["973171dc.dbbf58"]]},{"id":"9516cfcc.299008","type":"delay","z":"f8fc7726.ba18f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":340,"wires":[["8eb8aaba.e1a8c"]]},{"id":"8eb8aaba.e1a8c","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["724ec5b8.9dc114"]]},{"id":"5a758d6c.265854","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"85753ee1.b29bc","order":4,"width":0,"height":0,"passthru":false,"label":"Apply EV4RV Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Upgrade underway.  Please wait...","payloadType":"str","topic":"","x":140,"y":500,"wires":[["627aa885.71029","973171dc.dbbf58"]]},{"id":"627aa885.71029","type":"exec","z":"f8fc7726.ba18f8","command":"~pi/ev4rv/ev4rv_update.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Update EV4RV","x":160,"y":560,"wires":[["973171dc.dbbf58","7b4358c5.1a66f8"],[],[]]},{"id":"7c143eea.b7686","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"1042e94a.4a32df","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot EV4RV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Reboot commenced.  <strong>Please wait up to 5 minutes</strong> for reboot to complete.","payloadType":"str","topic":"","x":220,"y":1020,"wires":[["268e2bf8.248bac","d00a12dc.92c97"]]},{"id":"266109af.dc2cc6","type":"exec","z":"f8fc7726.ba18f8","command":"sudo shutdown -r now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot EV4RV","x":640,"y":1020,"wires":[[],[],[]]},{"id":"9cd1c24c.2de79","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"1042e94a.4a32df","order":4,"width":0,"height":0,"passthru":false,"label":"Shutdown EV4RV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Shutdown underway.  <strong>Please wait 3 minutes</strong> before removing power from the Raspberry Pi.","payloadType":"str","topic":"","x":230,"y":1100,"wires":[["d92e34be.35ad6","e5e8e47b.c8a378"]]},{"id":"b72f2a1f.fe63c","type":"exec","z":"f8fc7726.ba18f8","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown EV4RV","x":650,"y":1100,"wires":[[],[],[]]},{"id":"c94a659d.b223e","type":"mqtt in","z":"f8fc7726.ba18f8","name":"","topic":"ev4rv/update","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":170,"y":440,"wires":[["973171dc.dbbf58","7b4358c5.1a66f8"]]},{"id":"89255fdd.20e92","type":"mqtt out","z":"f8fc7726.ba18f8","name":"","topic":"ev4rv/update","qos":"","retain":"","broker":"73e2745.ef8238c","x":710,"y":460,"wires":[]},{"id":"268e2bf8.248bac","type":"ui_template","z":"f8fc7726.ba18f8","group":"1042e94a.4a32df","name":"Reboot Timing Note","order":1,"width":"6","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":920,"wires":[[]]},{"id":"e5e8e47b.c8a378","type":"ui_template","z":"f8fc7726.ba18f8","group":"1042e94a.4a32df","name":"Shutdown Timing note","order":3,"width":"6","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":960,"wires":[[]]},{"id":"d00a12dc.92c97","type":"delay","z":"f8fc7726.ba18f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":1020,"wires":[["266109af.dc2cc6"]]},{"id":"d92e34be.35ad6","type":"delay","z":"f8fc7726.ba18f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":1100,"wires":[["b72f2a1f.fe63c"]]},{"id":"157e9a25.fae846","type":"inject","z":"f8fc7726.ba18f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":940,"wires":[["c94d872a.8d8988","2fe09652.c32a92","4e64c385.08c3bc"]]},{"id":"c94d872a.8d8988","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<strong>Note:</strong> Reboot can take up to 5 minutes.  Please be patient.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":920,"wires":[["268e2bf8.248bac"]]},{"id":"2fe09652.c32a92","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<strong>Note2:</strong> Please use the 'Shutdown EV4RV' button before powering off the Raspberry Pi to minimize the risk of SD card corruption. After clicking, please allow 3 minutes before removing power.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":960,"wires":[["e5e8e47b.c8a378"]]},{"id":"1b58308a.3fe56f","type":"ui_text","z":"f8fc7726.ba18f8","group":"85753ee1.b29bc","order":1,"width":0,"height":0,"name":"","label":"Revision","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":260,"wires":[]},{"id":"210c49d6.7cdbd6","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"1648d09a.21e85f","order":0,"width":0,"height":0,"passthru":false,"label":"Set Static IP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Setting Static IP","payloadType":"str","topic":"","x":190,"y":700,"wires":[["8fde172d.2ec0a","48e5116.7adebf","de42033d.aa7b78"]]},{"id":"e7b807f9.ce44c","type":"ui_button","z":"f8fc7726.ba18f8","name":"","group":"1648d09a.21e85f","order":0,"width":0,"height":0,"passthru":false,"label":"Revert to DHCP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Reverting to DHCP","payloadType":"str","topic":"","x":180,"y":780,"wires":[["d0e8789a.8b1108","48e5116.7adebf","de42033d.aa7b78"]]},{"id":"8fde172d.2ec0a","type":"exec","z":"f8fc7726.ba18f8","command":"~pi/ev4rv/ip_set_static.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set Static IP","x":390,"y":700,"wires":[["b3bfa3c6.4a1828"],[],[]]},{"id":"d0e8789a.8b1108","type":"exec","z":"f8fc7726.ba18f8","command":"~pi/ev4rv/ip_set_dynamic.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set DHCP","x":390,"y":780,"wires":[["b3bfa3c6.4a1828"],[],[]]},{"id":"48e5116.7adebf","type":"ui_template","z":"f8fc7726.ba18f8","group":"1648d09a.21e85f","name":"Network Status","order":1,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.status\"></div>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":640,"y":740,"wires":[[]]},{"id":"43834848.7b047","type":"inject","z":"f8fc7726.ba18f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":330,"y":640,"wires":[["b3bfa3c6.4a1828"]]},{"id":"b3bfa3c6.4a1828","type":"exec","z":"f8fc7726.ba18f8","command":"~pi/ev4rv/ip_check_static.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Static IP Check","x":640,"y":640,"wires":[["7bbeb43f.36acd4"],[],[]]},{"id":"de42033d.aa7b78","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"ipSettingsChanged","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":840,"wires":[[]]},{"id":"3b1cb7e.bebd648","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"status","pt":"msg","to":"$globalContext('ipSettingsChanged')=true?$join([msg.payload.status,\"  --   <strong>Reboot to enable.</strong><br />\"]):msg.payload.status","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$contains(msg.payload.status,/^DHCP/)=true?$join([msg.payload.payload,\"<br /><strong>NOTE:</strong> It is strongly recommended to have EV4RV set to a static IP address.  If the IP changes, neither OpenEVSE nor your current monitor will connect and the automatic power tracking will not function.\"]):msg.payload.payload","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["48e5116.7adebf"]]},{"id":"f5589d71.4fc468","type":"file in","z":"f8fc7726.ba18f8","name":"","filename":"/home/pi/ev4rv/revision","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":260,"wires":[["1b58308a.3fe56f"]]},{"id":"b54abd2d.15a8f8","type":"ui_template","z":"f8fc7726.ba18f8","group":"9a850af2.fd25c","name":"Help","order":0,"width":"6","height":"4","format":"<div><strong>Need help?</strong><br />\nPlease check the <a href=\"https://github.com/linuxkidd/ev4rv/wiki\" title=\"EV4RV Wiki\">documentation.</a><br /><br />\nStill have a problem, or found a bug?  Have a suggestion?  Please check / open an <a href=\"https://github.com/linuxkidd/ev4rv/issues\" title=\"EV4RV Issues Tracker\">issue</a>.<br />\n<br />\nThanks!</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":860,"wires":[[]]},{"id":"7bbeb43f.36acd4","type":"json","z":"f8fc7726.ba18f8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":640,"wires":[["3b1cb7e.bebd648"]]},{"id":"9277be5e.bd373","type":"mqtt in","z":"e591787a.954398","name":"","topic":"shellies/#","qos":"0","datatype":"auto","broker":"73e2745.ef8238c","x":180,"y":80,"wires":[["749a6957.813c18"]]},{"id":"6e37b519.0e858c","type":"ui_text_input","z":"f8fc7726.ba18f8","name":"EM Reading Timeout","label":"Current Reading Timeout (seconds)","tooltip":"How many seconds of no coach current readings before disabling the EVSE.","group":"9873c2ac.cd75a","order":14,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":360,"y":1220,"wires":[["db52134a.fb035"]]},{"id":"db52134a.fb035","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"#:(filestore)::powerSettings.dataTimeout","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1300,"wires":[["8d0efa4e.c08678"]]},{"id":"4e64c385.08c3bc","type":"change","z":"f8fc7726.ba18f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext('powerSettings.dataTimeout','filestore')?$globalContext('powerSettings.dataTimeout','filestore'):30","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":1220,"wires":[["6e37b519.0e858c","db52134a.fb035","8d0efa4e.c08678"]]},{"id":"8d0efa4e.c08678","type":"ui_template","z":"f8fc7726.ba18f8","group":"9873c2ac.cd75a","name":"EM Data Timeout Explanation","order":6,"width":"6","height":"5","format":"<div>In order to minimize the risk of tripping the shore power breaker:<br />\n<p style='padding-left: 10px; padding-top: 10px; text-indent: -10px;'><strong>-If-</strong> EV4RV stops receiving current monitor data for {{msg.payload}} seconds,</p>\n<p style='padding-left: 10px; padding-top: 10px; text-indent: -10px;'><strong>-Then-</strong> EV4RV disables EV charging.</p>\n<p style='padding-left: 10px; padding-top: 10px; text-indent: -10px;'><strong>-When-</strong> current monitor data returns, EV4RV will re-enable charging.</p>\n<br />\nThis timeout is configurable below.  We recommend 30 to 60 seconds as typically safe values.</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":390,"y":1180,"wires":[[]]},{"id":"6725782a.2693f8","type":"function","z":"e591787a.954398","name":"","func":"topic_parts=msg.topic.split(\"/\");\nevseData=global.get('evseData') || {};\n\nevseStates={0:\"Starting\",1:\"EV Not Connected\",2:\"EV Connected\",3:\"Charging\",4:\"Vent Required\",5:\"Diode Check Failed\",6:\"GFCI Fault\",7:\"No Earth Ground\",8:\"Stuck Relay\",9:\"GFCI Self Test Failed\",10:\"Over Temperature\",11:\"Over Current\",254:\"Waiting\",255:\"Disabled\"};\n\nif(topic_parts.length<3) {\n    evseData[topic_parts[1]]=parseFloat(msg.payload);\n    if(topic_parts[1]=='amp')\n        evseData[topic_parts[1]]=parseFloat(msg.payload)/1000;\n    if(topic_parts[1]=='state') {\n        stateText=\"Invalid\";\n        if(evseData.state in evseStates)\n            stateText=evseStates[evseData.state];\n        evseData.stateText=stateText;\n        node.send({'payload':evseData.stateText});\n    }\n    global.set('evseData',evseData);\n}\n","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["35a21478.71e79c"]]},{"id":"1dd59ab4.8b4095","type":"mqtt in","z":"e591787a.954398","name":"","topic":"openevse/#","qos":"2","datatype":"auto","broker":"73e2745.ef8238c","x":270,"y":760,"wires":[["6725782a.2693f8"]]},{"id":"61281ac0.461474","type":"ui_text","z":"e591787a.954398","group":"e635df2e.1fabc","order":15,"width":"3","height":"1","name":"","label":"EVSE State","format":"{{msg.payload}}","layout":"col-center","x":990,"y":760,"wires":[]},{"id":"35a21478.71e79c","type":"rbe","z":"e591787a.954398","name":"","func":"rbe","gap":"","start":"","inout":"out","x":750,"y":760,"wires":[["61281ac0.461474"]]},{"id":"34df8d00.f156d2","type":"debug","z":"e591787a.954398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":760,"wires":[]}]